<section id="pricing" class="pricing">
    <div class="container">
        <a href="ViewCart"><b> << Go Back</b></a>
        <div class="section-title">
            <h2>Checkout</h2>
        </div>
        <div id="form">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>First Name</label>
                    <input id="FirstName" class="form-control" placeholder="Name" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>Last Name</label>
                    <input type="text" id="LastName" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Phone Number</label>
                    <input id="phpne" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" id="email" class="form-control" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Address</label>
                    <input id="Address" class="form-control" placeholder="Address" />
                    <span class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-8">
                    <a class="btn-cls btn-checkout" style="padding: 8px 35px 9px 35px; " href="Payment" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#container" id="goToPayment">Go To Payment</a>
                </div>
            </div>


        </div>
    </div>

</section><!-- End Pricing Section -->

