<!DOCTYPE html>
<html lang="en">

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" style="position:relative;text-align:center;">

        <div class="hero-container" style="position: absolute; bottom: 400px;">
            <div id="socials" style="position:relative;top:-40px;">
                <a href="https://twitter.com/RADopeboy?s=20" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/radope-110529630793880" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/r.a.dope/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <!--<a class="btn-cls" style="padding: 8px 35px 9px 35px; " href="ViewCart" data-ajax="true" >-->@*Get Started*@<!--</a>-->
        </div>
    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid d-flex align-items-center justify-content-lg-between">


            <h1 class="logo me-auto me-lg-0"><a href="Home/Index"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="~/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#MyMusic">My Music</a></li>
                    <li><a class="nav-link scrollto" href="#merchandise">Merchandise</a></li>
                    <li><a class="nav-link scrollto " href="#gallery">Gallery</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links d-flex align-items-center">
            </div>

        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= My Music Section ======= -->
        <section id="MyMusic" class="our-values">
            <div class="container">
                <div class="section-title">
                    <h2>What's Hot?</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card" style='background-image: url("/img/DopePics/Stage1.jpg");'>
                            <div class="card-body">
                                <h5 class="card-title cursiveFont"><a href="https://www.youtube.com/embed/UkwabxJig0o" target="_blank" id="textAnimate">Latest Release</a></h5>
                                <iframe class="cardDesign" src="https://www.youtube.com/embed/UkwabxJig0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="card" style='background-image: url("/img/DopePics/Mic.jpg");'>
                            <div class="card-body">
                                <h5 class="card-title cursiveFont"><a href="https://open.spotify.com/artist/39ir4YwTOZyIimko9SgDMw?si=ThGYEy8FTGODvHK7_6GA2Q&dl_branch=1" target="_blank">Spotify</a></h5>
                                <iframe src="https://open.spotify.com/embed/artist/39ir4YwTOZyIimko9SgDMw" class="cardDesign" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="card" style='background-image: url("/img/DopePics/Mic.jpg");'>
                            <div class="card-body">
                                <h5 class="card-title cursiveFont"><a href="https://music.apple.com/us/artist/r-a-dope/1485400265" target="_blank">Apple Music</a></h5>
                                <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="250" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" src="https://embed.music.apple.com/us/album/dont-do-it-for-money-single/1493162417"></iframe>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="testimonials section-bg">
                <div class="container">
                    <br />
                    <div class="section-title">
                        <h2><a href="https://www.youtube.com/channel/UCbAJNv_zRn6J2SLKXjWPFUg" target="_blank">Youtube Uploads</a></h2>
                    </div>

                    <div class="testimonials-slider swiper-container" style="margin: 0px 80px;" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/xH0qaQOW2pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe class="" src="https://www.youtube.com/embed/UkwabxJig0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/bwliE5Ir-Yw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/_I8EKL7gx50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/NTXvJgL0jG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>


        </section><!-- End My Music Section -->
        <!-- ======= Merchandise Section ======= -->
        <section id="merchandise" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Merchandise</h2>
                    <p>Here's a collection of Dope merchandise for my fam. Limited Stock Only. Grab one!</p>
                    <br />
                    <a class="btn-cls btn-checkout" style="padding: 8px 35px 9px 35px; " href="/Home/ViewMerchandise" target="_blank">View All Merchandise</a>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>

                        </div>
                    </div>


                </div>

            </div>
        </section>

        <section id="gallery" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Here's a collection of few arts and moments to cherish!</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Shows</li>
                    <li data-filter=".filter-card">Album Art</li>
                    <li data-filter=".filter-web">Me!</li>
                </ul>

                <div class="row portfolio-container">
                    @*app   card      web *@
                    @*shows albumArt   Me *@

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/DopePics/Stage1.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Nepalese NYE</h4>
                            <a href="~/img/DopePics/Stage1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0091.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="~/img/DopePics/_MG_0091.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/DopePics/Blue.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Bleh.</h4>
                            <a href="~/img/DopePics/Blue.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/RADOPE-1.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Dope Dai</h4>
                            <a href="~/img/DopePics/RADOPE-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0103.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Chillin'</h4>
                            <a href="~/img/DopePics/_MG_0103.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/DevilsTrynaKillMe.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Devil's Tryna Kill Me</h4>
                            <a href="~/img/DopePics/DevilsTrynaKillMe.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/RADOPE-1.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Perfect For Somebody Else!</h4>
                            <a href="~/img/DopePics/RADOPE-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/PFSM.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Perfect For Somebody Else!</h4>
                            <a href="~/img/DopePics/PFSM.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0090.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Me</h4>
                            <a href="~/img/DopePics/_MG_0090.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Gallery Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>Subscribe</h3>
                        <p>Please subscribe to receive mail notifications of new releases, merchandise and show tickets</p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit" class="subscribe" value="Subscribe">
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="https://twitter.com/RADopeboy?s=20" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/radope-110529630793880" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/r.a.dope/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>


    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Button trigger modal -->
    <button type="button" id="modalButton" class="btn btn-primary" style="display:none" data-toggle="modal" data-target="#myModal">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="color:white;background:url('../img/DopePics/Concert.jpg') center center no-repeat;">
                <div class="modal-header">
                    <h5 class="modal-title" style=" transform: translate(180%, 0%); ">Subscribe</h5>
                    <button type="button" id="closeModal" style=" background: none; border: none; color: white; " class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container" id="modalBody">

                        <div class="row  justify-content-center">
                            <div class="col-lg-12">
                                <p id="modalText">Please subscribe to receive mail notifications of new releases, merchandise and show tickets.</p>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" id="email" class="form-control" placeholder="Enter your Email">
                            <div class="input-group-append">
                                <button class="btn subscribe" id="subscribeBtn" type="submit" style="background-color: #ff7f5d;color:white">Subscribe</button>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <div style=" transform: translate(-120%, 0%);">
                        <a href="https://twitter.com/RADopeboy?s=20" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.facebook.com/radope-110529630793880" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/r.a.dope/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        setTimeout(function () {
            $("#modalButton").click();
        }, 4000)

        //dialog
        $("#subscribeBtn").on('click', function () {
            debugger;
            email = $("#email").val();
            if (validateEmail(email)) {
                $.ajax(
                    {
                        url: "Home/Subscribe",
                        data: { email: email },
                        method: "POST",
                        success: function (res) {
                            $("#modalBody").html('<p><b>Thank you for your subscription. Welcome to the family</b></p>')
                            //close the dialog  
                            debugger;
                            setTimeout(function () {
                                $('#closeModal').click();
                            }, 2000)

                        }

                    })
            }
            else {
                $("p#modalText").html("The email is invalid!")
                //invalid email
            }

        })

        function validateEmail(userinput)
        {
            var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

            if (!pattern.test(userinput)) {
                return false;
            }
            return true;
        }

    });
</script>