<!DOCTYPE html>
<html lang="en">

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" style="position:relative;text-align:center;">
        <div class="socials" >
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="hero-container" style="position: absolute; bottom: 400px;">
            @*<a href="#about" class="btn-get-started scrollto">Get Started</a>*@
        </div>
    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid d-flex align-items-center justify-content-lg-between">


            <h1 class="logo me-auto me-lg-0"><a href="Home/Index">R.A DOPE</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="~/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#MyMusic">My Music</a></li>
                    <li><a class="nav-link scrollto" href="#merchandise">Merchandise</a></li>
                    <li><a class="nav-link scrollto " href="#gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>

                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links d-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>

        </div>
    </header><!-- End Header -->

    <main id="main">


        <!-- ======= My Music Section ======= -->
        <section id="MyMusic" class="our-values">
            <div class="container">
                <div class="section-title">
                    <h2>What's Hot?</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card" style='background-image: url("/img/DopePics/Stage1.jpg");'>
                            <div class="card-body">
                                <h5 class="card-title cursiveFont"><a href="" id="textAnimate">Latest Release</a></h5>
                                <iframe class="cardDesign" src="https://www.youtube.com/embed/UkwabxJig0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="card" style='background-image: url("/img/DopePics/Mic.jpg");'>
                            <div class="card-body">
                                <h5 class="card-title cursiveFont"><a href="">Tracks</a></h5>
                                <iframe src="https://open.spotify.com/embed/artist/39ir4YwTOZyIimko9SgDMw" class="cardDesign" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <br>
            <div class="testimonials section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2><a href="https://www.youtube.com/channel/UCbAJNv_zRn6J2SLKXjWPFUg"  target="_blank">Youtube Uploads</a></h2>
                    </div>

                    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/xH0qaQOW2pk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe class="" src="https://www.youtube.com/embed/UkwabxJig0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe  src="https://www.youtube.com/embed/bwliE5Ir-Yw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/_I8EKL7gx50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="icon-box">
                                    <iframe src="https://www.youtube.com/embed/NTXvJgL0jG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                </div>
                            </div><!-- End testimonial item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>

        </section><!-- End My Music Section -->
        <!-- ======= Merchandise Section ======= -->
        <section id="merchandise" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Merchandise</h2>
                    <p>Here's a collection of Dope merchandise for my fam. Limited Stock Only. Grab one!</p>
                    <br />
                    <a class="btn-cls btn-checkout" style="padding: 8px 35px 9px 35px; " href="/Home/ViewMerchandise"  target="_blank" >View All Merchandise</a>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>                          
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>                           
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/hoodie1.jpeg" class="img-cls" alt="Image">
                            <h4><sup>$</sup>40</h4>
                            <b>Hoodie</b>
                            
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Cta Section ======= -->
        <!--<section id="cta" class="cta">
            <div class="container">

                <div class="text-center">
                    <h3>Call To Action</h3>
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a class="cta-btn" href="#">Call To Action</a>
                </div>

            </div>
        </section>--><!-- End Cta Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Here's a collection of few arts and moments to cherish!</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Shows</li>
                    <li data-filter=".filter-card">Album Art</li>
                    <li data-filter=".filter-web">Me!</li>
                </ul>

                <div class="row portfolio-container">
                    @*app   card      web *@
                    @*shows albumArt   Me *@

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/DopePics/Stage1.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Nepalese NYE</h4>
                            <a href="~/img/DopePics/Stage1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0091.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="~/img/DopePics/_MG_0091.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/DopePics/Blue.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Bleh.</h4>
                            <a href="~/img/DopePics/Blue.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/RADOPE.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Dope Dai</h4>
                            <a href="~/img/DopePics/RADOPE.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0103.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Chillin'</h4>
                            <a href="~/img/DopePics/_MG_0103.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/img/DopePics/DevilsTrynaKillMe.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <a href="~/img/DopePics/DevilsTrynaKillMe.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/Blue.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Feeling Blue!</h4>
                            <a href="~/img/DopePics/Blue.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/img/DopePics/PFSM.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Perfect For Somebody Else!</h4>
                            <a href="~/img/DopePics/PFSM.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/img/DopePics/_MG_0090.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Me</h4>
                            <a href="~/img/DopePics/_MG_0090.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Gallery Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
                <div class="row mt-5">

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
        <!-- ======= About Section ======= -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>Subscribe</h3>
                        <p>Please subscribe to receive mail notifications of new releases, merchandise and show tickets</p>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    

</body>

</html>