


    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <h2>Order Summary</h2>
            </div>

            <div id="main">
                <table class="table" >
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tbody id="tableBody">

                    </tbody>

                </table>

            </div>

        </div>
    </section><!-- End Pricing Section -->


<script>

    $(document).ready(function ()
    {
        $.ajax(
            {
                url: "/Home/GetCartProducts",
                method: "GET",
                succcess: function (result)
                {
                    $.each(result, function (k, v)
                    {
                        var image = v['image'];
                        var name = v['name'];
                        var price = v['price'];
                        var quantity = v['quantity'];
                        var total = parseFloat(price) * parseFloat(quantity);
                        var id = v['id'];

                        var html =`<tr>
                              <td> <img class='imageClass' src='images/${image}'></img></td >
                              <td>${name}</td>
                              <td>${quantity}</td>
                              <td>${price}</td>
                              <td>${total}</td>

                              <td><button class='clearButton' id=${id}>Remove</button></td>
                              </tr >`;

                    })
                }
            })

    })
</script>