<style type="text/css">
    .img {
        width: 100%;
        padding: 2px;
    }
</style>


<header id="header" class="d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="ViewMerchandise">R.A DOPE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="~/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                    <li><a class="btn-cls" style="padding: 8px 35px 9px 35px; "  href="ViewCart" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#container"   id="viewCart">View Cart</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->



    </div>
</header><!-- End Header -->



    <div id="container" class="container">

        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title">
                    <h2>Merchandise</h2>
                </div>

                <div id="mainDiv">


                </div>

            </div>
        </section><!-- End Pricing Section -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            var products = [];
            var html = '';
            $.ajax(
                {
                    url: "/Home/GetProducts",
                    method: "GET",
                    async: false,
                    success: function (result) {
                        products = result;
                    },
                    complete: function (res) {
                        populateData();
                    }

                })

            function populateData() {
                html = "<div class='row'>";''
                $.each(products, function (k, v) {
                    var image = v['imageURL'];
                    var name = v['name'];
                    var price = v['price'];
                    var code = v['code'];
                    var id = v['id'];

                    var temp = `
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <img src="../product-images/${image}" class="img-cls" alt="Image">
                            <h4><sup>$</sup>${price}</h4>
                            <b>${name}</b>
                            <div class="btn-wrap">
                                <button type="button"  id="${id}" class="btn-cls addToCart">Add To Cart</button>
                            </div>
                        </div>
                    </div>`;

                    html = html.concat(temp);
                });
                html = html.concat('</div>')
                $("#mainDiv").append(html);
            }
        });


        $(document.body).on('click', '.addToCart', function () {
            var id = this.id;        
            $.ajax(
                {
                    url: "/Home/AddToCart",
                    method: "POST",
                    data: { id: id, quantity: 1 },
                    success: function (result)
                    {
                        alert("Product Added Successfully to Cart!");
                    }
                })
        })

    

    </script>
