


<section id="pricing" class="pricing">
    <div class="container">
        <a  href="ViewMerchandise"><b> << Go Back</b></a>
        <div class="section-title">
            <h2>Order Summary</h2>
        </div>

        <div id="container">
            <table class="table_custom">
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price (AU$)</th>
                    <th>Price (AU$)</th>
                    <th>Action</th>
                </tr>
                <tbody id="tableBody">
                </tbody>

            </table>
            <br />
            <a class="btn-cls btn-checkout" style="padding: 8px 35px 9px 35px; " href="Checkout" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#container" id="checkout">Checkout</a>



        </div>

    </div>
</section><!-- End Pricing Section -->


<script>
    var array = [];
    $(document).ready(function () {
        var html = "";
        var finalPrice = 0;
        $.ajax(
            {
                url: "/Home/GetCartProducts",
                method: "GET",
                success: function (result) {
                    $.each(result, function (k, v) {
                        debugger;
                        var image = v['imageURL'];
                        var name = v['name'];
                        var price = v['price'];
                        var quantity = v['quantity'];
                        var total = parseFloat(price) * parseFloat(quantity);
                        var id = v['id'];
                        finalPrice = finalPrice + total;
                        array.push({
                            id: id, quantity: quantity, price: price
                        });

                        html = html + `<tr id=${id}>
                              <td style="display:none;" class="id">${id}</td>
                              <td> <img src="../product-images/${image}" class="img-cart" alt="Image"></td >
                              <td>${name}</td>
                              <td><input style="width:60px;text-align:center;" class="quantity" value='${quantity}' type='number'></td>
                              <td class="price">${price}</td>
                              <td class="total">  ${total}</td>
                              <td><button class="btn btn-outline-danger" onclick="removeProduct(${id})" ><i class="bi bi-trash"></i></button></td>
                              </tr >`;

                    })

                    html = html + `<tr><td colspan='3'></td> <td><b>Total Price</b></td> <td id="finalPrice"><b>AU$ ${finalPrice} </b></td>   <td></td>   </tr>`
                },
                complete: function (e) {
                    debugger;
                    if (array.length == 0) {
                        $("#tableBody").html("<p style='text-align:center;'> <b>No items to display.</b></p>")
                    }
                    else
                    {
                        $("#tableBody").append(html);
                    }
                }
            });
        $(document.body).on("change", "input.quantity", function (e) {
            var quantity = parseInt(this.value);
            var price = parseInt($(this).closest("td").siblings(".price").text());
            var id = $(this).closest("td").siblings(".id").text();
            $(this).closest("td").siblings(".total").text(quantity * price);

            $.each(array, function (k, v) {
                if (v['id'] == id) {
                    v['quantity'] = quantity;
                }
            });
            updateTotalPrice();
        })       

    });
    function updateTotalPrice() {
        var totalPrice = 0;
        $.each(array, function (k, v) {
            totalPrice = totalPrice + parseInt(v['quantity']) * parseInt(v['price']);
        });

        $("#finalPrice").html("<b> AU$ " + totalPrice + "</b>");
        if (totalPrice == 0)
        {
            $("#tableBody").html("<p style='text-align:center;'> <b>No items to display.</b></p>");
        }
    }

    function removeProduct(productId) {
        $.ajax(
            {
                url: "/Home/RemoveFromCart",
                method: "GET",
                data: { id: productId },
                success: function (res) {
                    $("table tr#" + productId).remove();
                    //delete from array
                    array = $.grep(array, function (e) {
                        return e.id != productId;
                    })
                    updateTotalPrice();
                }
            })

    }

</script>