<style type="text/css">
    .img {
        width: 100%;
        padding: 2px;
    }
</style>

<div id="container" class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-2" id="main">


            </div>
        </div>
    </div>

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title">
                <h2>Merchandise</h2>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="box">
                        <img src="../product-images/hoodie1.jpeg" class="img" alt="Image">
                        <h4><sup>$</sup>0</h4>
                        <b>Blue Hoodie</b>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        var products = [];
        var html = '';
        $.ajax(
            {
                url: "/Home/GetProducts",
                method: "GET",
                async: false,
                success: function (result) {
                    products = result;
                },
                complete: function (res) {
                    populateData();
                }

            })

        function populateData() {
            debugger;

            $.each(products, function (k, v) {
                var image = v['imageURL'];
                var name = v['name'];
                var price = v['price'];
                var temp = `<div class='col'>
                        <div class='card shadow-sm'>
                            <div class='card-body'>
                                <p class='card-text'>${name}</p>
                                <img src="../product-images/${image}" class="img" alt="Image">
                                 <p>Description  : Sample Description</p>
                                <div class='d-flex justify-content-between align-items-center'>
                                    <div class='btn-group'>
                                        <button type='button' id='${v['id']}' class='addToCart btn btn-sm btn-outline-secondary'>Add to Cart</button>
                                    </div>
                                    <p class='text-muted'>$${price}</small>
                                </div>
                            </div>
                        </div>
                    </div>` ;
                html = html.concat(temp);
            });

            $("#main").append(html);
        }







    });
</script>